@import "../../scss/variable";
@import "../../scss/flex";
@import "../../scss/mixin";


.campaign-status {
  &.MuiButtonGroup-root { background: #F2F2F2; border-radius: 12px; padding: 4px;
    + .MuiButtonBase-root { margin-left: 20px; }
  }
  .MuiButtonBase-root { background: transparent; width: 48px; height: 28px; text-align: center; border: 0 !important; border-radius: 20px !important;
    &.active { background: $white; }
  }
}
