@import "../../scss/variable";
@import "../../scss/flex";
@import "../../scss/mixin";


.campaign-status {
  &.MuiButtonGroup-root { background: #F2F2F2; border-radius: 12px; padding: 4px;
    + .MuiButtonBase-root { margin-left: 20px; }
  }
  .MuiButtonBase-root { background: transparent !important; width: 48px; height: 28px; text-align: center; border: 0 !important; border-radius: 20px !important; padding: 0 !important; min-width: unset;
    + .MuiButtonBase-root { margin-left: 1px; }
    svg { margin: 0; }
    &.active { background: $white !important; }
  }
}

.select-creators-by-sec {
  margin-bottom: 20px;
  .campaign-select-row {
    &.MuiButtonGroup-root {
      @include prefix(box-shadow, none);
			.MuiButton-root.MuiButtonBase-root {
				background: #F5F5F5;
				border: 1px solid #BDBDBD;
				border-radius: 12px;
				font-weight: 400;
				font-size: 14px;
				line-height: 17px;
				color: #616161;
        &:hover {
          @include prefix(box-shadow, none);    
        }
        &.active {
          background: #121212;
          border: 1px solid #BDBDBD;
          border-radius: 12px;
          color: #FFFFFF;
        }
			}
    }
  }
}
