$theme-color: #000000;
$theme-black: #121212;
$theme-orange: #FF8C00;
$white: #ffffff;
$black: #000000;
$placeholder-color: #9B9B9B;


// Gray
$color1:#F0F5FE;
$color2:#E1E1E1;
$color3:#A8A8A8;
$color4: #F3F7FF;
$color5: #6F6F6F;
$color6: #EFEFEF;
$color7: #666666;


// other color
$success: #089B55;
$danger: #E5664B;
$warning: #E5B64B;
$info: #448FB8;


// media quary
$xl: 1199px;
$lg: 1024px;
$md: 991px;
$sm: 767px;
$xs: 575px;


